<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>194637516744-7r7f26r97cpasm7gdtqbbs8i52net53p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194637516744-7r7f26r97cpasm7gdtqbbs8i52net53p</string>
	<key>API_KEY</key>
	<string>AIzaSyC71ih6RqNWODMF78iCH9wuACagu_T6ZpU</string>
	<key>GCM_SENDER_ID</key>
	<string>194637516744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.ufrj.ct.RestauranteUniversitario</string>
	<key>PROJECT_ID</key>
	<string>restauranteuniversitario-91cd4</string>
	<key>STORAGE_BUCKET</key>
	<string>restauranteuniversitario-91cd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:194637516744:ios:a467872b606d55d3</string>
	<key>DATABASE_URL</key>
	<string>https://restauranteuniversitario-91cd4.firebaseio.com</string>
</dict>
</plist>
